html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}
/* unvisited link */
a:link {
    text-decoration: none;
    color:#000000;
}

/* visited link */
a:visited {
    color:#000000;
}

/* mouse over link */
a:hover {
    color:#000000;
    background-color: beige;
}

/* selected link */
a:active {
    color:#000000;
}
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcomeMessage {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 18pt;
}
.button {
    display: flex;
    width: 260px;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
}
.buttonLabel {
    margin-left: 20px;
    margin-right: 20px;
}
.buttonIcon {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.mainLoginContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.twitterSocialIcon {
    height: 40px;
    width: 40px
}
.userAlreadyRegisteredMessage {
    margin-bottom: 60px;
}
.homeAction {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
}
.loginForm {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.itemsCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemsCenteredFullSize {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.normalSize {
    font-size: 12pt;
}

.mediumSize {
    font-size: 18pt;
}
